.container {
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.container:after,
.container-fluid:after,
.container:before {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.container .row,
.container-fluid .row {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: -15px;
  padding-right: -15px;
}
.container1 {
  display: block;
  margin-left: 0;
  margin-right: 0;
}
.col-sj-1 {
  width: 8.33333333%;
}
.col-sj-2 {
  width: 16.66666667%;
}
.col-sj-3 {
  width: 25%;
}
.col-sj-4 {
  width: 33.33333333%;
}
.col-sj-5 {
  width: 41.66666667%;
}
.col-sj-6 {
  width: 50%;
}
.col-sj-7 {
  width: 58.33333333%;
}
.col-sj-8 {
  width: 66.66666667%;
}
.col-sj-9 {
  width: 75%;
}
.col-sj-10 {
  width: 83.33333333%;
}
.col-sj-11 {
  width: 91.66666667%;
}
.col-sj-12 {
  width: 100%;
}
[class*=col-] {
  display: block;
  float: left;
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
  .col-xp-1 {
    width: 8.33333333%;
  }
  .col-xp-2 {
    width: 16.66666667%;
  }
  .col-xp-3 {
    width: 25%;
  }
  .col-xp-4 {
    width: 33.33333333%;
  }
  .col-xp-5 {
    width: 41.66666667%;
  }
  .col-xp-6 {
    width: 50%;
  }
  .col-xp-7 {
    width: 58.33333333%;
  }
  .col-xp-8 {
    width: 66.66666667%;
  }
  .col-xp-9 {
    width: 75%;
  }
  .col-xp-10 {
    width: 83.33333333%;
  }
  .col-xp-11 {
    width: 91.66666667%;
  }
  .col-xp-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 970px;
  }
  .col-zp-1 {
    width: 8.33333333%;
  }
  .col-zp-2 {
    width: 16.66666667%;
  }
  .col-zp-3 {
    width: 25%;
  }
  .col-zp-4 {
    width: 33.33333333%;
  }
  .col-zp-5 {
    width: 41.66666667%;
  }
  .col-zp-6 {
    width: 50%;
  }
  .col-zp-7 {
    width: 58.33333333%;
  }
  .col-zp-8 {
    width: 66.66666667%;
  }
  .col-zp-9 {
    width: 75%;
  }
  .col-zp-10 {
    width: 83.33333333%;
  }
  .col-zp-11 {
    width: 91.66666667%;
  }
  .col-zp-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-dp-1 {
    width: 8.33333333%;
  }
  .col-dp-2 {
    width: 16.66666667%;
  }
  .col-dp-3 {
    width: 25%;
  }
  .col-dp-4 {
    width: 33.33333333%;
  }
  .col-dp-5 {
    width: 41.66666667%;
  }
  .col-dp-6 {
    width: 50%;
  }
  .col-dp-7 {
    width: 58.33333333%;
  }
  .col-dp-8 {
    width: 66.66666667%;
  }
  .col-dp-9 {
    width: 75%;
  }
  .col-dp-10 {
    width: 83.33333333%;
  }
  .col-dp-11 {
    width: 91.66666667%;
  }
  .col-dp-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .hidden-xp {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sj {
    display: none;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .hidden-zp {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-dp {
    display: none;
  }
}
