body,html,div,*{
	margin: 0;
	padding: 0;

	
}
.left{
	width: 666px;
	height: 640px;
   float: left;
    border: 1px solid red;

}
.box{
	width: 200px;
	height: 300px;
	border: 1px solid red;
	float: left;
	margin: 10px 10px;


}
.img-1{
	width: 200px;
	height: 160px;
	
	background-size: cover;
	background-repeat: no-repeat;
}
.mingcheng{
	width: 50%;
	height: 20px;
	border: 1px solid red;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
  
    margin: 10px  25%; 

}
.jiage{
	width: 50%;
	height: 20px;
	border: 1px solid red;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	margin: 10px  25%; 
}
.goumai{
	width: 40px;
	height: 20px;
	background: red;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-size: 18px;
		margin: 10px  25%; 
		cursor: pointer;
}

.right{
	width: auto;
	height: auto;
	float: right;
	margin: 10px 20px 0 0;
}
table{
	border: 1px solid red;
	border-spacing: 0;
}
td{
	border: 1px solid red;
	width: 40px;
	height: 20px;
	font-size: 15px;
	text-align: center;
	line-height: 20px;

}
button:nth-child(1){
     width: 20px;
     height: 20px;
}
button:nth-child(2){
     width: 20px;
     height: 20px;
}